/* body {
    /* background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #7676b7 100%) !important;
    height: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; */
    /* backgrund-color: #7676b7 !important;
  
} */ 
